body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: gold;
  background-image: url(Underwater.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
button {
  cursor: pointer;
  margin: 0.5rem;
  background-color: white;
}
table {
  border-collapse: collapse;
  border: 2px solid gold;
}
.header {
  font-size: 0.8rem;
  border: 2px solid gold;
}
.cell-bomb {
  font-size: 20px;
}
.cell-covered {
  /* background-color: rgb(81, 140, 199); */
  background-color: transparent;
}
td {
  cursor: pointer;
  width: 22px;
  height: 22px;
  line-height: 20px;
  vertical-align: middle;
  /* background-color: #ccc; */
  border: 1px solid gold;
  /* height: 3rem;
  width: 3rem; */
  /* background-color: rgb(81, 140, 199); */
  background-color: transparent;
}
